.number
{
    color:blue;
    float: right;
    margin-top: 75px;
    margin-right: 5px;
}
#parent > .col > img
{
    width: 250px;
    height: 120px;
}
#parent
{
    background-color:lightgray;
    border-bottom: 2px solid grey;
}
#parent2
{
    display: flexbox;
    margin-top: 12px;
    margin-left: 8px;
}
.container > h4
{
    color:grey;
}
.container > .row
{
    margin-top: 2%;
}
#address
{
    background-color:whitesmoke;
    margin-top: 8px;
    height: 250px;
    padding-top: 12px;
    font-family:Arial, Helvetica, sans-serif
}
#form
{
    border: 2px solid black;
    width: 65%;
    font-size: 14px;
}
#form form fieldset legend
{
    margin-left: 6px;
    font-size: 25px;
    margin-bottom: 25px;
    color: black;
}
#btns
{
    margin-top: 10px;
    text-align: center;
}
#btns > button
{
    border: 1 px solid black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 8px;
    color: white;
    font-weight: 500;
    background-color:crimson;
}
.row .col-3 label
{
    font-size: 16px;
    color: black;
}
.row .col label
{
    font-size: 16px;
    color: black;
}
.row .col .title
{
    width: 75%;
    font-size: 14px;
}
.row .col select
{
    width: 75%;
    font-size: 14px;
}
.row .col textarea
{
    width: 75%;
    font-size: 14px;
}
.footer
{
    position: fixed;
}